<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <ul class="nav navbar-nav">
            <p><a href="/urls">Home</a></p>



          <% if (username){ %>
               <p>Welcome, user <%= username%>!</p>
                <form method="POST" action="/logout">
                    <input type="submit" value="Logout">
                </form>
              <% } else {%>
                  <p><a href="/register">Registe here</a> </p>
                  <p><a href="/login">Login here</a> </p>
              <% } %>
        </ul>
    </div>

</div>
</nav>