<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <h1>Tiny App</h1>
    <header>
      <% include ./partials/_header %>
    </header>
      <ul>
        <% for (shortURL in urls) { %>
          <li> <%= shortURL %> &#8594; <%= urls[shortURL].longURL %>
            <a href="/urls/<%= shortURL%>">Edit</a>
            <form method="POST" action="/urls/<%= shortURL %>/delete">
            <input type="submit" value="Delete"></form></li>
        <% } %>
          <p><a href="/urls/new">Shorten a new URL</a> </p>
      </ul>
  </body>
</html>